html {
    color: rgb(5, 149, 182);
    font-family: Comic Sans MS, Comic Sans, cursive, sans-serif;
    user-select: none;
}
body {
    
    background-color: rgba(166, 253, 244, .5);
}

h1 {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 70px;
    text-align: center;
    animation: h1 ease 2s;
    -webkit-animation: h1 ease 2s;
    -moz-animation: h1 ease 2s;
    -o-animation: h1 ease 2s;
    -ms-animation: h1 ease 2s;
    
}

#masterContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

#gameContainer {
    width: 350px;
    height: 350px;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2%;
}

.box {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 6px solid green;
    width: 100px;
    height: 100px;
    font-size: 100px;
    color: rgb(5, 149, 182);
    font-family: Helvetica, sans-serif;
    background-color: rgba(255, 65, 0, .2);
}

#resetGameContainer {
    display: flex;
    justify-content: center;
    flex-shrink: 0;
    margin-top: 10px;
}

#resetGameButton, #theme {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    outline: 0;
    border: 6px solid green;
    background-color: rgba(255, 65, 0, .2);
    width: 240px;
    height: 50px;
    font-size: 26px;
    color: rgb(5, 149, 182);
    font-family: Comic Sans MS, Comic Sans, cursive, sans-serif;
    
}

#resetGameButton:hover {
    font-size: 28px;
}    

    @keyframes h1 {
    0% {opacity:0;}
    100% {opacity:1;}
    }
    
    @-moz-keyframes h1 {
    0% {opacity:0;}
    100% {opacity:1;}
    }
    
    @-webkit-keyframes h1 {
    0% {opacity:0;}
    100% {opacity:1;}
    }
    
    @-o-keyframes h1 {
    0% {opacity:0;}
    100% {opacity:1;}
    }
    
    @-ms-keyframes h1 {
    0% {opacity:0;}
    100% {opacity:1;}
    }

    #victoryMsg {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 10px;
        flex-shrink: 0;
        font-size: 21px;
        animation: blinker 1.5s linear infinite;
    }

    @keyframes blinker {
        50% {
            opacity: 0;
        }
    }

    h2 {
        text-align: center;
        
    }

    #scoreCardContainer {
        display: flex;
        justify-content: center;
    }

    #scoreCard {
        display: flex;
        justify-content: center;
       
    }

    #card {
        display: grid;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
        margin-bottom: 25px;
        width: 350px;
        height: 100px;
        border: 6px solid green;
        background-color: rgba(255, 65, 0, .2);
    }

    #topLeftSide {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 24px;
        border-bottom: 6px solid green;
        border-right: 6px solid green;
        
    }

    #topRightSide {
        display: flex;
        justify-content: center;
        align-items: center;
        border-bottom: 6px solid green;
        
    }

    #bottomLeftSide {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 24px;
        border-right: 6px solid green;
        
    }

    #bottomRightSide {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 24px;
        
    }

    input {
        max-width: 100px;
        border: none;
        text-align: center;
        outline: 0;
        font-size: 24px;
        color: rgb(5, 149, 182);
        background-color: rgba(251, 215, 203, 0.062);
        font-family: Comic Sans MS, Comic Sans, cursive, sans-serif;
        
    }

